.parent {
    display: grid;
    grid-template-areas: ". . . . navbar"
                         ". . logospace . ."
                         ". . search . ."
                         ". . language . ."
                         "footer footer footer footer footer";
    justify-content: center;
}
.navbar {
    grid-area: navbar;
}
.navbar ul {
    list-style-type: none;
    display: flex;
}
.navbar ul li a {
    display: block;
    padding: 24px;
}
.logospace {
    grid-area: logospace;
}
.search {
    grid-area: search;
}
.language {
    grid-area: language;
}
.footer {
    grid-area: footer;
}
.footer ul {
    list-style-type: none;
}