body {
    font-size: Roboto;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-content: space-between;
    margin-top: 20px;
}
.logospace {
    display: flex;
    justify-content: center;
    height: 28vh;
}
#logo {
    align-self: flex-end;
    padding: 20px;
}
.search {
    display: flex;
    justify-content: center;
    align-content: space-around;
}
#searchbar {
    width: 75vh;
    height: 5vh;
    border-radius: 20px;
    padding: 20px;
}
.buttons {
    display: flex;
    justify-content: center;
    height: 35%;
    width: 100%;
    padding: 10px;
    margin-top: 15px;
}
.language {
    display: flex;
    justify-content: center;
    margin-top: 35px;
    font-size: smaller;
}
.footer {
    margin-top: 180px;
}
.footer ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}