body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}
a {
    text-decoration: none;
    color: rgba(123, 124, 128, 0.959);
}
a:hover {
    text-decoration: underline;
}
.navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-content: space-between;
    margin-top: 20px;
    font-size: smaller;
    position: relative;
    right: 10px;
}
.navbar ul a {
    color: black;
}
.acc img {
    border-radius: 25px 25px;
    position: relative;
    bottom: 9px;
}
.menuicon img {
    width: 16px;
}
.logospace {
    display: flex;
    justify-content: center;
    height: 28vh;
}
#logo {
    align-self: flex-end;
    padding: 20px;
}
.search {
    display: flex;
    justify-content: center;
    align-content: space-around;
}
.search input[type=search] {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Search_Icon.svg/1024px-Search_Icon.svg.png);
    background-repeat: no-repeat;
    background-position: 10px 10px;
    background-size: 17px;
    border: 1px solid rgb(180, 176, 176);
}
.search input[type=search]:focus {
    outline: none;
}
#searchbar {
    width: 77vh;
    height: 5vh;
    border-radius: 20px;
    padding: 20px;
    padding-left: 38px;
    margin-top: 5px;
}
.buttons {
    display: flex;
    justify-content: center;
    height: 35%;
    width: 100%;
    padding: 10px;
    margin-top: 15px;
}
.language {
    display: flex;
    justify-content: center;
    margin-top: 35px;
    font-size: smaller;
    height: 238px;
}
.language a {
    color: blue;
}
.footer {
    background-color: rgba(212, 204, 204, 0.3);
    font-size: smaller;
    color: rgba(123, 124, 128, 0.959);
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
}
.iceland {
    border-bottom: 1px solid rgb(158, 152, 152);
    order: -1;
    flex: 1 0 100%;
}
.footer ul {
    list-style-type: none;
    display: flex;
    flex: 1 1 auto;
}
.leftlinks {
    justify-content: flex-start;
    order: 0;
    flex: 1 1 0;
    margin: 0;
}
.leftlinks a {
    padding: 15px;
    position: relative;
    left: -50px;
}
.rightlinks {
    justify-content: flex-end;
    order: 0;
    flex: 1 1 0;
} 
.rightlinks a {
    padding: 15px;
}
.centerspace {
    order: 0;
    flex: 1 1 0;
}